@import "config";
@import "menu";


* {
box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Abel', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.clock{
  
  font-size: 300%;
  z-index: 2;
  padding-top: 3%;
  letter-spacing: 12px;
  color: wheat;
  
  
  
}

header{
  font-family: 'Abel', sans-serif;
}
//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.4rem 2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    letter-spacing: 0.5rem;
  }
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  font-family: 'Abel', sans-serif;
}

.text-secondary {
  color: $secondary-color;
  font-size: 4rem;
}
.textAbout{
  font-size: 1.2rem;
  color:wheat;
}

main {
  padding: 4rem; //sticky footer//height: 100%;
  min-height: calc(100vh - 30px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.sm-headingAbout{
  background: lighten($primary-color, 5);
  text-align: center;
  opacity: 0.8;
  color: wheat;
}
#about{
  opacity: 0.9;
  font-family: 'Abel', sans-serif;
}
.about-info {
  opacity: 0.9;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Abel', sans-serif;
  background-color: $primary-color;
  .bioimage {
    grid-area: bioimage;
    margin: auto;
    width:50%;
    height: 100%;
    padding-top: 3rem;
    opacity: 0.5;
    
    
  }
  .bio {
    grid-area: bio;
    font-size: 0.5rem;
    padding-top: 4.5rem;
    opacity: 0.5;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    //background: lighten($primary-color, 5);
    padding: 0.8rem;
    border-bottom:wheat 5px solid;
    margin-top: 3rem;
    opacity: 0.5;
    text-align: center;
    font-size: 115%;
  }
}



//Work/Projects
.projects {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(2, 1fr);
  opacity: 0.5;
  margin-left: 10%;
 
  img {
    width: 55%;
    opacity: 0.7;
    border: 3px solid #fff;
    &:hover {
      opacity: 0.3;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//button stylesof project and github
.btn {
  display: block;
  padding: 0.5rem 0.5rem;
  border: 0;
  margin-bottom: 0.5rem;
  width: 55%;
  text-align: center;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}
//extend btn
.btn-light {
  @extend.btn;
  background: $primary-color;
  color: wheat;
}

.btn-dark {
  @extend.btn;
}

#main-footer {
  text-align: center;
  
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 30px;
  opacity: 0.2;
  
}
.lg-heading1{
  text-align: center;
  font-size: 240%;
  letter-spacing: 0.6rem;
}
.sm-heading2{
  font-size: 200%;
  text-align: center;
  letter-spacing: 0.6rem;
  margin-bottom: 3%;
}

//file work.html
.workClass {
  @include background2;
  background: $primary-color;
  color: set-text-color($primary-color);
  
  margin: 0;
  font-family: 'Abel', sans-serif;
  line-height: 1.5;
  overflow: hidden;
 

}
.bodyAbout{
  @include background3;
  background: $primary-color;
  color: set-text-color($primary-color);
  margin: 0;
  font-family: 'Abel', sans-serif;
  line-height: 1.5;
  overflow: hidden;
  
  
  
}
.text-secondaryAbout{
  font-size: 300%;
}
.text-secondaryAbout1{
  opacity: 0.5;
  color: wheat;
}
@import "mobile";